# MultiIndex DataFrame

In [2]:
import numpy as np
import pandas as pd

In [3]:
addresses = [
    ("101 Hanumanpet", "Hyderabad", "TS", "500047"),
    ("503 Marredpally", "Secunderabad", "TS", "500026"),
    ("103 Musheerabad", "Hyderabad", "TS", "500020")
]

In [4]:
pd.MultiIndex.from_tuples(addresses)
pd.MultiIndex.from_tuples(tuples=addresses,
                          names=["Street", "City", "State", "Zip"])

MultiIndex([( '101 Hanumanpet',    'Hyderabad', 'TS', '500047'),
            ('503 Marredpally', 'Secunderabad', 'TS', '500026'),
            ('103 Musheerabad',    'Hyderabad', 'TS', '500020')],
           names=['Street', 'City', 'State', 'Zip'])

In [5]:
row_index = pd.MultiIndex.from_tuples(tuples=addresses,
                                       names=["Street", "City", "State", "Zip"])

In [6]:
data = [
    ['A', 'B+'],
    ['C+', 'C'],
    ['D', 'A']
]

In [7]:
pd.DataFrame(data=data, index=row_index)

                                            0   1
Street          City         State Zip
101 Hanumanpet  Hyderabad    TS    500047   A  B+
503 Marredpally Secunderabad TS    500026  C+   C
103 Musheerabad Hyderabad    TS    500020   D   A

In [8]:
columns = ["Schools", "Cost of Living"]

In [9]:
area_grades = pd.DataFrame(
    data = data,
    index= row_index,
    columns= columns
)
area_grades

                                          Schools Cost of Living
Street          City         State Zip
101 Hanumanpet  Hyderabad    TS    500047       A             B+
503 Marredpally Secunderabad TS    500026      C+              C
103 Musheerabad Hyderabad    TS    500020       D              A

In [10]:
data = [
    ["A", "C+", "B", "B+"],
    ["B", "A", "C", "C+"],
    ["B", "C", "C+", "D"]
]

In [11]:
column_index = pd.MultiIndex.from_tuples([
    ('Culture', 'Restaurants'),
    ('Culture', 'Museums'),
    ('Services', 'Police'),
    ('Services', 'Schools')
])

In [12]:
area_grades = pd.DataFrame(
    data = data,
    index = row_index,
    columns = column_index
)
area_grades

                                              Culture         Services
                                          Restaurants Museums   Police Schools
Street          City         State Zip
101 Hanumanpet  Hyderabad    TS    500047           A      C+        B      B+
503 Marredpally Secunderabad TS    500026           B       A        C      C+
103 Musheerabad Hyderabad    TS    500020           B       C       C+       D

In [14]:
neighborhoods = pd.read_csv("neighborhoods.csv")
neighborhoods

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Culture,Culture.1,Services,Services.1
0,NaN,NaN,NaN,Restaurants,Museums,Police,Schools
1,State,City,Street,NaN,NaN,NaN,NaN
2,MO,Fisherborough,244 Tracy View,C+,F,D-,A+
3,SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
4,WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...,...
248,MI,North Matthew,055 Clayton Isle,B-,C,B,C+
249,MT,Chadton,601 Richards Road,A-,D,D+,D
250,SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
251,VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
252,NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [16]:
neighborhoods = pd.read_csv("neighborhoods.csv",
                            index_col=[0, 1, 2])
neighborhoods

,,,Culture,Culture.1,Services,Services.1
NaN,NaN,NaN,Restaurants,Museums,Police,Schools
State,City,Street,NaN,NaN,NaN,NaN
MO,Fisherborough,244 Tracy View,C+,F,D-,A+
SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,B-,C,B,C+
MT,Chadton,601 Richards Road,A-,D,D+,D
SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [17]:
neighborhoods = pd.read_csv("neighborhoods.csv",
                            index_col=[0, 1, 2],
                            header=[0, 1])
neighborhoods

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A


                                           Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [18]:
neighborhoods.index

MultiIndex([('MO',      'Fisherborough',        '244 Tracy View'),
            ('SD',   'Port Curtisville',     '446 Cynthia Inlet'),
            ('WV',        'Jimenezview',       '432 John Common'),
            ('AK',        'Stevenshire',        '238 Andrew Rue'),
            ('ND',     'New Joshuaport',       '877 Walter Neck'),
            ('ID',         'Wellsville',   '696 Weber Stravenue'),
            ('TN',          'Jodiburgh',    '285 Justin Corners'),
            ('DC',   'Lake Christopher',   '607 Montoya Harbors'),
            ('OH',          'Port Mike',      '041 Michael Neck'),
            ('ND',         'Hardyburgh', '550 Gilmore Mountains'),
            ...
            ('AK',          'Scottstad',      '114 Jones Garden'),
            ('IA',    'Port Willieport',  '320 Jennifer Mission'),
            ('ME',         'Port Linda',        '692 Hill Glens'),
            ('KS',         'Kaylamouth',       '483 Freeman Via'),
            ('WA',     'Port Shawnfort',    '691 Winters Bridge'),
            ('MI',      'North Matthew',      '055 Clayton Isle'),
            ('MT',            'Chadton',     '601 Richards Road'),
            ('SC',          'Diazmouth',     '385 Robin Harbors'),
            ('VA',         'Laurentown',     '255 Gonzalez Land'),
            ('NE', 'South Kennethmouth',      '346 Wallace Pass')],
           names=['State', 'City', 'Street'], length=251)

In [19]:
neighborhoods.index.names

FrozenList(['State', 'City', 'Street'])

In [20]:
neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [21]:
neighborhoods.columns.names

FrozenList([None, None])

In [23]:
neighborhoods.columns.names = ["Category", "Subcategory"]
neighborhoods

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [25]:
neighborhoods.index.get_level_values(1)
neighborhoods.index.get_level_values("City")

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

In [27]:
neighborhoods.columns.get_level_values(1)
neighborhoods.columns.get_level_values("Subcategory")

Index(['Restaurants', 'Museums', 'Police', 'Schools'], dtype='object', name='Subcategory')

## Sort Index

In [28]:
neighborhoods.sort_index(level=[1, 2], ascending=[True, False])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [29]:
neighborhoods.sort_index(axis=1, level=1, ascending=True)

,,Category,Culture,Services,Culture,Services
,,Subcategory,Museums,Police,Restaurants,Schools
State,City,Street,,,,
MO,Fisherborough,244 Tracy View,F,D-,C+,A+
SD,Port Curtisville,446 Cynthia Inlet,B,B,C-,D+
WV,Jimenezview,432 John Common,A+,F,A,B
AK,Stevenshire,238 Andrew Rue,A,A-,D-,A-
ND,New Joshuaport,877 Walter Neck,C-,B,D+,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,C,B,B-,C+
MT,Chadton,601 Richards Road,D,D+,A-,D
SC,Diazmouth,385 Robin Harbors,D,B-,F,D+
VA,Laurentown,255 Gonzalez Land,B-,F,C+,D-
NE,South Kennethmouth,346 Wallace Pass,B-,A,C-,A-

In [30]:
neighborhoods

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [32]:
# neighborhoods["Schools"]
neighborhoods[("Services", "Schools")]

State  City                Street
MO     Fisherborough       244 Tracy View       A+
SD     Port Curtisville    446 Cynthia Inlet    D+
WV     Jimenezview         432 John Common       B
AK     Stevenshire         238 Andrew Rue       A-
ND     New Joshuaport      877 Walter Neck       B
                                                ..
MI     North Matthew       055 Clayton Isle     C+
MT     Chadton             601 Richards Road     D
SC     Diazmouth           385 Robin Harbors    D+
VA     Laurentown          255 Gonzalez Land    D-
NE     South Kennethmouth  346 Wallace Pass     A-
Name: (Services, Schools), Length: 251, dtype: object

In [33]:
neighborhoods[[("Services", "Schools"), ("Culture", "Museums")]]

Category                                   Services Culture
Subcategory                                 Schools Museums
State City               Street
MO    Fisherborough      244 Tracy View          A+       F
SD    Port Curtisville   446 Cynthia Inlet       D+       B
WV    Jimenezview        432 John Common          B      A+
AK    Stevenshire        238 Andrew Rue          A-       A
ND    New Joshuaport     877 Walter Neck          B      C-
...                                             ...     ...
MI    North Matthew      055 Clayton Isle        C+       C
MT    Chadton            601 Richards Road        D       D
SC    Diazmouth          385 Robin Harbors       D+       D
VA    Laurentown         255 Gonzalez Land       D-      B-
NE    South Kennethmouth 346 Wallace Pass        A-      B-

[251 rows x 2 columns]

In [34]:
neighborhoods.loc["MO"]

Category                                 Culture         Services
Subcategory                          Restaurants Museums   Police Schools
City           Street
Fisherborough  244 Tracy View                 C+       F       D-      A+
East Connie    798 Joseph Orchard              B       D       A+      D+
Port Elizabeth 072 Mariah Creek                C      C-       D-       A
Hendersonland  984 Williams Road              B+      A-       D-      A+
New Bailey     424 Marissa Underpass          C-       F        F      B+
Josephfort     259 Robles Turnpike             D      A-       B-       D

In [36]:
neighborhoods.loc[("MO", "East Connie")]

C:\Users\singa\AppData\Local\Temp\ipykernel_4108\1207811891.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  neighborhoods.loc[("MO", "East Connie")]

Category               Culture         Services
Subcategory        Restaurants Museums   Police Schools
Street
798 Joseph Orchard           B       D       A+      D+

## Cross Sections

In [39]:
neighborhoods.xs(key="East Connie", level="City")

Category                     Culture         Services
Subcategory              Restaurants Museums   Police Schools
State Street
MO    798 Joseph Orchard           B       D       A+      D+
AL    943 John Gardens            B+      C-       C+       D

In [41]:
neighborhoods.xs(key="Schools", level="Subcategory", axis=1)

Category                                   Services
State City               Street
MO    Fisherborough      244 Tracy View          A+
SD    Port Curtisville   446 Cynthia Inlet       D+
WV    Jimenezview        432 John Common          B
AK    Stevenshire        238 Andrew Rue          A-
ND    New Joshuaport     877 Walter Neck          B
...                                             ...
MI    North Matthew      055 Clayton Isle        C+
MT    Chadton            601 Richards Road        D
SC    Diazmouth          385 Robin Harbors       D+
VA    Laurentown         255 Gonzalez Land       D-
NE    South Kennethmouth 346 Wallace Pass        A-

[251 rows x 1 columns]

In [42]:
neighborhoods.xs(key="Culture", level="Category", axis=1)

Subcategory                                Restaurants Museums
State City               Street
MO    Fisherborough      244 Tracy View             C+       F
SD    Port Curtisville   446 Cynthia Inlet          C-       B
WV    Jimenezview        432 John Common             A      A+
AK    Stevenshire        238 Andrew Rue             D-       A
ND    New Joshuaport     877 Walter Neck            D+      C-
...                                                ...     ...
MI    North Matthew      055 Clayton Isle           B-       C
MT    Chadton            601 Richards Road          A-       D
SC    Diazmouth          385 Robin Harbors           F       D
VA    Laurentown         255 Gonzalez Land          C+      B-
NE    South Kennethmouth 346 Wallace Pass           C-      B-

[251 rows x 2 columns]

In [43]:
neighborhoods.xs(key=("MO", "East Connie"), level=["State", "City"])

Category               Culture         Services
Subcategory        Restaurants Museums   Police Schools
Street
798 Joseph Orchard           B       D       A+      D+